@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.banner{
    width: 50%;
}
.takkah-text {
    color: #FA7B21;
}
.service{
    width: 30%;
    background-color: rgb(235, 235, 235);
    padding: 1rem 0px;
    border-radius: 25px;
}

.service img {
    width: 230px;
    height: 230px;
}
.service div p{
    font-size: 1.15rem !important;
}

.about img {
    width: 30%;
}

