@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.banner{
    width: 50%;
}
.takkah-text {
    color: #FA7B21;
}
.service{
    background-color: rgb(235, 235, 235);
    border-radius: 25px;
}

.service img {
    width: 230px;
    height: 230px;
}
.service div p{
    font-size: 1.15rem !important;
}

@media (min-width: 319px){
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .responsive-text{
        text-align: center;
    }
    .about img {
        width: 12rem;
        height: 12rem;
    }
}
@media (min-width: 576px){
    .about{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .responsive-text{
        text-align: start;
    }
    .about img {
        width: 15rem;
        height: 15rem;
    }
}